<div class="grid gallery_big">
    {% for item in result.ITEMS %}
        <a href="{{ item.DETAIL_PICTURE.RESIZED.MODAL.src }}"
           data-fancybox="grooming_gallery"
           class="gellery_item col col_5"
           id="{{ add_editing_actions(item, template) }}">
            <img src="{{ item.DETAIL_PICTURE.RESIZED.PREVIEW.src }}" alt="{{ item.DETAIL_PICTURE.ALT }}">
        </a>
    {% endfor %}
</div>
<div class="gallery_big_controls">
    <span class="prev"></span>
    <div class="dots gallery_big_dots"></div>
    <span class="next"></span>
</div>
