<section class="contacts_gallery">
    <div class="wrap">
        <div class="grid">
            {% for item in result.ITEMS %}
                {# TODO resize #}
                <a class="gellery_item col col_3" href="{{ item.DETAIL_PICTURE.SRC }}" rel="group">
                    <img src="{{ item.DETAIL_PICTURE.SRC }}" alt="{{ item.DETAIL_PICTURE.ALT }}">
                </a>
            {% endfor %}
        </div>
    </div>
</section>