<section class="banners">
    <div class="wrap">
        <div class="grid">
            {% for item in result.ITEMS %}
                <a class="item" href="{{ item.PROPERTIES.LINK.VALUE }}" id="{{ add_editing_actions(item, template) }}">
                    <img src="{{ item.PREVIEW_PICTURE.SRC }}" alt="{{ item.PREVIEW_PICTURE.ALT }}">
                </a>
            {% endfor %}
        </div>
    </div>
</section>