{% extends layout('base.twig') %}

{% block scripts %}
    {{ parent() }}
    <script>App.initHotelPage()</script>
{% endblock %}

{% block modals %}
    {{ parent() }}
    <div class="modal" id="hotel-booking-template">
        <form class="block" method="post">
            <span class="close"></span>
            <strong>Заполните поля для резервирования, в ближайшее время мы свяжемся с вами</strong>
            <input type="text" placeholder="Ваше имя">
            <input type="text" placeholder="Номер телефона">
            <input type="text" placeholder="Период бронирования">
            <textarea placeholder="Описание животного"></textarea>
            <div class="bottom">
                <button type="submit">Отправить</button>
            </div>
        </form>
    </div>
    {# append modal instances to this container #}
    <div id="hotel-booking-modals"></div>
{% endblock %}