{% extends layout('base.twig') %}

{% block scripts %}
    {{ parent() }}
    <script>App.initTaxiPage()</script>
{% endblock %}

{% block modals %}
    {{ parent() }}
    {# TODO reference taxi option #}
    <div class="modal" id="taxi-request">
        <form class="block" ic-post-to="/api/taxi-request" ic-target="find .ic-target">
            <span class="close"></span>
            <input type="hidden" name="option-id">
            <div class="ic-target">
                {% include partial('modals/taxi_request_form.twig') %}
            </div>
        </form>
    </div>
{% endblock %}