<div class="tel_group">
    <a class="tel" href="{{ result.LINK }}">{{ result.FORMATTED }}</a>
    <a class="tel_mobile" href="{{ result.LINK }}" title="{{ result.FORMATTED }}">
        <i class="fa fa-phone"></i>
    </a>
</div>
