<div class="grid slider_gallery">
    {% for item in result.ITEMS %}
        <div class="item" id="{{ add_editing_actions(item, template) }}">
            <a class="gellery_item" rel="gallery" href="{{ resize(item.DETAIL_PICTURE, 1920, 1080) }}">
                <img src="{{ resize(item.DETAIL_PICTURE, 640, 640) }}" alt="{{ item.DETAIL_PICTURE.ALT }}" />
            </a>
        </div>
    {% endfor %}
</div>