<div data-tabContent="{{ tab_id }}" class="{{ tab_id }}">
    {{ tab }}
    <div class="wrap_tables">
        <div class="wrap">
            {% for table in tables %}
                {{ table }}
            {% endfor %}
        </div>
    </div>
</div>